header{
    text-align: center;
    background-color: rgba(182, 182, 182, 0.575);
    border-bottom: 3px solid gold;
    margin-left: 200px;
    margin-right: 200px;
}

h3{
    color:gold;
}

h4{
    font-style: italic;
}

.container{
    margin-left: 200px;
    margin-right: 200px;
}

.separator {

    border-top: 1px solid gold;
}

footer{
    margin-left: 200px;
    margin-right: 200px;
}
